body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #43aa8b;
}

 textarea{
  background: transparent;
  border: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 5px;
}

.jumbotron {
  text-align: center;
  background-color: #577590;
  color: #f8961e;
  border-radius: 0;
  border-bottom: 5px solid black;
}

.description{
  white-space: pre-wrap;
  border-radius: 15px;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border: 1px solid black;
  border-radius: 15px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
}

.past {
  background-color: #f9c74f;
  color: black;
}

.present {
  background-color: #f94144;
  color: white;
}

.future {
  background-color: #90be6d;
  color: white;
}

.saveBtn {
  background-color: #577590;
  color: white;
  height: fit-content;
  width: fit-content;
  border-radius: 15px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}



